@import url("http://fonts.googleapis.com/css?family=Lato:100,400");

.treeEdge {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

.treeNode {
    fill: #757BA0;
}

.ts_path {
    fill: none;
    stroke: #72475F;
}

.tsLabel {
    font-size: 7px;
    font-weight: 100;
    font-family: 'Lato';
    opacity: 1;
}

.brush .extent {
    fill-opacity: .06;
}