.treeEdge {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

.tsPath {
    fill: none;
    stroke: #C4C3D0;
    stroke-width: 1px;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .05;
  shape-rendering: crispEdges;
}