.treeEdge {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

.treeNode {
    fill: #757BA0;
}

.tsPath {
    fill: none;
    stroke: #72475F;
    stroke-width: .5px;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .05;
  shape-rendering: crispEdges;
}